<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.1/font/bootstrap-icons.min.css"
          rel="stylesheet">
    <link href="/static/css/mainPage.css" rel="stylesheet">

    <title>Error</title>
</head>
<body class="bg-light">
<div class="container">
    <div class="row justify-content-center align-items-center" style="margin-top: 150px">
        <div class="col-lg-12 text-center centered-content">
            <h1>Oops!</h1>
            <p class="lead">Something went wrong</p>
            <p>We are experiencing some technical issues. Please check back later. We apologize for the
                inconvenience.</p>
        </div>
    </div>
</div>
</body>
</html>