<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-0d6yfPzlD6FhFPejryye7oM9yyP2tFyw7j0T6H1zl0Q5Z1G1n0l0ot/5p1byqB8d"
            crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand navbar-dark bg-dark wrapper">
    <div class="container-fluid">
        <div class="row w-100">
            <!-- Левая часть с кнопкой выхода -->
            <div class="col-2 d-flex align-items-center">
                <button class="btn btn-transparent border border-white text-white rounded" type="button">
                    Logout
                </button>
            </div>

            <!-- Центральная часть с формой поиска -->
            <div class="col-8 d-flex justify-content-center">
                <form class="d-flex input-group w-auto" style="margin-left: 70px" method="get" th:action="@{/home-page}">
                    <input type="search" class="form-control bg-transparent border border-white text-white rounded" placeholder="Search" aria-label="Search" name="location_name" required />
                    <button class="btn" type="submit">
                        <i class="bi bi-search text-white fs-6"></i>
                    </button>
                </form>
            </div>

            <!-- Правая часть для приветствия пользователя -->
            <div class="col-2"></div>
        </div>
    </div>
</nav>

<div class="container d-flex flex-wrap justify-content-center my-4">

    <div th:each="location:${locations}" class="card m-2 p-3 d-flex justify-content-between" style=" border-radius: 35px;">

        <div class="card-body p-4">

            <div class="d-flex">
                <h6 class="flex-grow-1" th:text="${location.name}">city</h6>
                <h6 th:text="${location.country}">country</h6>
            </div>

            <div class="d-flex flex-column text-center mt-5 mb-4">
                <h6 class="display-4 mb-0 font-weight-bold"> 13°C </h6>
                <span class="small" style="color: #868B94">Stormy</span>
            </div>

            <div class="d-flex align-items-center">
                <div>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu1.webp"
                         width="100px">
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>