<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/templates/css/loginStyles.css">


    <title>Title</title>
</head>
<body class="bg-light">
<form action="#" method="post" th:action="@{/registration}">
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 bg-white m-auto rounded-top wrapper">
            <h2 class="text-center pt-3 mb-5">Sign up</h2>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                    <input type="text" class="form-control" placeholder="Email" name="email">
                </div>
                <div class="text-danger" th:if="${emailError}" th:text="${emailError}"></div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Confirm password" name="confirmedPassword">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-success w-100 mb-4">Sign up</button>
                    <p class="text-center">
                        Already have an account? <a href="/authorization">Log in!</a>
                    </p>
                </div>
        </div>
    </div>
</div>
</form>

</body>
</html>